<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}

    {% endblock %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
        }
        .navbar {
            background-color: #333;
            color: white;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
        }

        .navbar a:hover {
            text-decoration: underline;
        }

        .navbar .links {
            display: flex;
        }
    </style>

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<div class="navbar">
    <div class="brand">
        <a href="{{ path('homepage') }}">My Website</a>
    </div>
    <div class="links">
        <a href="{{ path('homepage') }}">News</a>
        <a href="{{ path('homepage') }}">About</a>
        <a href="{{ path('cookie_toggle') }}">
            {% if app.request.cookies.get('admin_key') %}
                User LogIn
            {% else %}
                Admin LogIn
            {% endif %}
        </a>
    </div>
</div>
{% block body %}{% endblock %}
</body>
</html>
